@import "css-pulse-animation";

body {
  background: #2a2c39;
  margin: 0;
  padding: 0;

}
a {
  text-decoration: none;
  color: #fff;
  &:hover{
    text-decoration: none;
    color: #fff;
  }
}

.semicircle-top {
  display: block;
  position: absolute;
  top: -100px;
  left: -1px;
  z-index: -1;

  .one {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 0 0 100% 0;
  }

  .two {
    position: absolute;
    width: 250px;
    height: 250px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 0 0 100% 0;
  }

  .three {
    position: absolute;
    width: 310px;
    height: 310px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 0 0 100% 0;
  }
}

.semicircle-bottom {
  display: block;
  position: absolute;
  bottom: -110px;
  left: 0;
  z-index: -1;

  .one {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 0 100% 0 0;

  }

  .two {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 250px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 0 100% 0 0;
  }

  .three {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 310px;
    height: 310px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 0 100% 0 0;
  }
}

.home {
  position: relative;
  width: 100%;
  padding: 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 18px;
  border: 1px solid #3b3d49;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background: rgba(42, 44, 57, 0);
  white-space: nowrap;

  padding-left: 30px;
  padding-right: 30px;
  height: 60px;
  border-radius: 32.5px;
  line-height: 30px;
  color: #fff;
  font-weight: 600;

  &:after {
    content: ">>";
    box-sizing: border-box;
    opacity: 0.2;
    transition: opacity .3s ease;
  }

  &:hover:after {
    opacity: 1;
  }

  &:hover {
    background: #2e303d;
    cursor: pointer;
  }
}

.nav-bar {
  position: fixed;
  display: flex;
  align-items: center;
  vertical-align: center;
  height: 100px !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  ul {
    width: 500px;
    display: flex;
    align-items: center;
    vertical-align: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    li {
      position: relative;
      list-style-type: none;
      font-size: 25px;
      color: #858792;
      font-family: Poppins, sans-serif;
      transition: .3s;

      &:hover {
        color: white;
        transition: all .5s ease;
        cursor: pointer;
      }
    }
  }

  button {

    &:after {
      content: ">>";
    }

    &:hover:after {
      opacity: 1;
    }

    &:hover {
      background: #2e303d;


    }
  }

  .menu-icon {
    display: none;
  }

  .close-icon {
    display: none;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 120px);
  margin-top: 120px;

  &__name {
    color: #fff;
    font-family: "Cormorant Garamond", serif;
    margin-top: 80px;

    h3 {
      font-size: 85px;
      font-weight: 600;
    }

    h2 {
      font-size: 95px;
      font-weight: 600;
    }

    p {
      width: 400px;
      font-size: 18px;
      margin-top: 40px;
      margin-bottom: 60px;
      font-family: 'Poppins', sans-serif;
      color: #858792;
      font-weight: 400;
      line-height: 1.5;
    }

    button {
      padding-left: 60px;
      padding-right: 60px;
      height: 85px;
      line-height: 70px;
      border-radius: 60px;

      svg {
        font-size: 20px;
        margin-left: 8px;
      }

      &:after {
        content: "";
      }
    }
  }

  &__video-link {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 250px;
    height: 150px;
    margin-top: 50px;
    font-weight: 600;
    color: #858792;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

    svg {
      position: absolute;
      top: 38%;
      left: 18%;
      font-size: 35px;

    }
  }

  &__photo {
    position: relative;
    left: 20px;
    max-width: 600px;
    height: 80vh;

    .center {
      position: absolute;
      top: 10%;
      right: 0px;
      height: 80%;
      width: 1px;
      background: #3ac7e5;
      box-shadow: 0px 0px 18px 1px rgba(59, 70, 97, 1);

      div svg {
        position: absolute;
        padding: 10px;
        font-size: 50px;
        border: 1px solid #6789c6;
        border-radius: 50%;
        box-shadow: 0px 0px 6px 1px #3ac7e5;
        color: #e9e9eb;
        background: #2a2c39;
        transition: 0.3s;

        &:hover {
          color: #6789c6;
          box-shadow: 0px 0px 12px 1px #3ac7e5;
        }

      }

      .linked svg {
        top: 1%;
        left: -25px;
      }

      .facebook svg {
        bottom: 1%;
        left: -25px;
      }

      .telegram svg {
        bottom: 30%;
        left: -25px;
      }

      .instagram svg {
        top: 30%;
        left: -25px;
      }
    }

    .right {
      position: absolute;
      top: 0;
      right: 30px;
      height: 80%;
      width: 1px;
      background: rgba(76, 97, 137, 0.8);
      box-shadow: 0px 0px 18px 1px rgba(59, 70, 97, 1);
      z-index: -1;
    }

    img {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
}

@media screen and (max-width: 991px) {
  .main {
    height: 100%;
    flex-flow: wrap;
    flex-direction: column-reverse;

  }
  .semicircle-top, .semicircle-bottom {
    display: none;
  }
  .nav-bar {


    ul {
      width: 350px;

      li {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 800px) {

  .main {
    &__photo {
      left: -30px;
    }
  }

  .nav-bar {

    .close-icon {
      display: block;
    }

    .nav-modal {
      position: fixed;
      right: -100%;
      opacity: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      padding-left: 15px;
      background: rgba(0, 0, 0, .5);
      z-index: 99;
      animation: fadeIn 1s ease-in-out forwards;

      .bg-modal {
        position: absolute;
        right: 0;
        width: 45%;
        padding: 50px 15px 0 20px;
        height: 100vh;
        margin: 0;
        background: #24273e;

        ul {
          width: 0;
          display: block;
          align-items: center;
          vertical-align: center;
          justify-content: space-between;
          box-sizing: border-box;
          padding: 0;
          margin: 0;

          svg {
            font-size: 37px;
            font-weight: 500;
            border-radius: 50%;
            border: 1px solid rgba(255, 255, 255, .1);
            margin-bottom: 50px;
          }

          li {
            min-width: 200px;
            padding: 7px 5px;
            font-size: 16px;
            color: white;
            text-transform: uppercase;

            &:after {
              content: '>';
              position: absolute;
              right: 0;
              font-weight: bold;
            }
          }
        }
      }
    }

    @keyframes fadeIn {
      0% {
        transform: translateX(0);
        opacity: 0;
      }
      100% {
        transform: translateX(-100%);
        opacity: 1;
      }
    }

    .close {
      animation: slideLeft 1s ease-in-out forwards;

    }

    @keyframes slideLeft {
      0% {
        transform: translateX(-100%);
        opacity: 1;
      }
      100% {
        transform: translateX(0);
        opacity: 0;
      }
    }

    ul {
      display: none;
    }

    button {
      display: none;
    }

    .menu-icon {
      display: block;
      font-size: 38px;
    }

  }
}

@media (min-width: 420px) {
  .main__name h2 {
    font-size: calc(5.100vw + 22px);
  }
  .main__name h3 {
    font-size: calc(5.100vw + 22px);
  }
}

@media (min-width: 1250px) {
  .main__name h2 {
    font-size: 95px;
  }
  .main__name h3 {
    font-size: 85px;
  }
}

.scrolled {
  transition: 1s;
  background: #2a2c39;
}


.my-skills {
  width: 100%;
  background: #31354b;

  h1 {
    font-size: 65px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    font-family: "Cormorant Garamond", serif;
    padding-top: 60px;
  }

  &__block {
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px auto;
      cursor: pointer;

      span {
        font-family: 'Poppins', sans-serif;
        text-align: center;
        color: white;
        width: 100%;
        min-height: 250px;
        background: #2a2c39;
        padding: 15px;

        h2 {
          margin: 10px 0;
        }

        p {
          height: 60px;
          overflow: hidden;
          overflow-y: scroll;
          color: #858792;
          font-family: 'Poppins', sans-serif;
          font-size: 14px;
          text-align: justify;
          padding-right: 5px;
        }

        p::-webkit-scrollbar {
          width: 3px;
          background-color: rgba(249, 249, 253, 0);
        }

        p::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #3c3c42;
        }

        p::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
          border-radius: 10px;
          background-color: rgba(249, 249, 253, 0);
        }

        img {
          width: 90px;
          height: 90px;
          border-radius: 10px;
        }
      }
    }
  }
}

.my-projects {

  margin: 10px 0 50px 0;

  &__info {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;

    color: #fff;
    background: #31354b;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;

    .img {
      display: flex;
      overflow: hidden;


      img {

        max-height: 180px;
        max-width: 180px;
        object-fit: cover;
        transition: .5s;

        &:hover {
          transform: scale(1.1);
        }
      }

      .title {
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 30px;

        h2 {
          text-align: left;
          color: #fff;
        }

        p {
          max-height: 60px;
          max-width: 500px;
          color: #858792;
          margin-bottom: 0;
          font-size: 18px;
          text-align: left;
          vertical-align: bottom;
        }


      }
    }


    .git-link{
      display: flex;
      align-items: center;

      button{
        margin: 20px 0;
        border: 1px solid #3b3d48;
        height: 45px;
        font-family: "Cormorant Garamond", serif;
      }
    }

  }

  h1 {
    font-size: 65px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    font-family: "Cormorant Garamond", serif;
    padding-top: 60px;
  }

}

#scroll-top {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border: 1px solid rgba(255, 255, 255, .1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, .5);
  background: #252734;
  bottom: 70px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
  color: white;
  border-radius: 50%;
  transition: all 0.3s ease 0s;

  &:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, .5), 0 3px 15px rgba(0, 0, 0, .5);
    margin-bottom: 6px;

  }
}

.footer{
  color: #fff;
  border-top: 1px solid #3b3d48 ;

  div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  p{
    color: #858792;
    word-spacing: 5px;
    margin: 0;
  }

  span{
    color: #fff;
  }
  svg{
    font-size: 22px;
  }
  img {
    color: white;
    width: 60px;
    height: 50px;
  }
}




